body {background-color: #201920; font-family: verdana,sans-serif;;;}

a {color: #FFF4DC}

span {color: #FFF4DC; font-family: monospace; font-size: 1.5vw; text-overflow: ellipsis;}

.infobox {background: #272127; margin: 5px;}
