body {background-color: #201920; font-family: verdana,sans-serif;;;}

a {color: #FFF4DC}

span {color: #FFF4DC; font-family: monospace; font-size: 1.5vw; text-overflow: ellipsis;}

.infobox {background: #272127; padding: 5px; box-sizing:content-box; margin-left : 5px; margin-right : 5px;}

.infoholder {float: left; width: 20%; box-sizing:content-box;}

.canvas_div {width: 60%; float: left; cursor:crosshair;}

.stat_span {display: block; padding-left: 6px}

@media screen and (max-width: 800px) {
   .canvas_div {
    display: block;
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    max-width: 85vh;
    margin: 0 auto;
  }
  .infoholder {
    width: 100%;
    margin: 10px 0 10px 0;
  }

  .stat_span {
    display: inline;
  }
}
